*,
*::after,
*::before{
    box-sizing: border-box;
}

:root{
    --primary: hsl(322, 100%, 66%);

    --neutral-light: hsl(193, 100%, 96%);
    --neutral-medium: hsl(208, 11%, 55%);
    --neutral-dark: hsl(192, 100%, 9%);

}

body{
    font-size: 1.125rem;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--neutral-dark);
    /* 400,700 */
    /* font-family: 'Poppins', sans-serif; */
    /* 600 */

    margin: 0;
}

.header{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    /* background-color: var(--neutral-light); */

    padding: clamp(1rem,4vw,2rem) clamp(1rem, 5.6vw, 5rem) 0;
}

.huddle-logo{
    /* background-color: red; */
    width: clamp(6.7rem, 28%, 13.5rem);
}

.try-it-free-button{
    font-size: clamp(0.6rem, 1.8vw, 1rem);
    color: var(--neutral-dark);
    background-color: white;
    /* font-family: 'Poppins', sans-serif; 
    font-weight: 600; */
    font-weight: 700;
    text-align: center;
    padding: 0.5em 2.5em;
    border-radius: 10em;

    box-shadow: 0 0.125em 0.8em 0em hsl(192, 26%, 85%);
}

.top-card{
    margin-top: 0;
    background-image: url(../images/bg-hero-desktop.svg);
    background-color: var(--neutral-light);
}

.main-title{
    /* margin-top: 0; */
}